<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go Track Bugs!</title>
</head>
<body>
<h1>Bug Tracker Written in Go</h1>
<h2>Demo State loaded.</h2>
<a href="/">Click here</a> to return to the login screen <br>

</body>
</html>