<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>

<h1>Please login to your account</h1>
<form method="post" autocomplete="off">
    <label for ="username">Username:</label>
    <input type="text" name="username" placeholder="username"><br>
    <label for ="password">Password:</label>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit">
</form>
<h2>Or <a href="/signup">Sign Up</a> if you do not have an account</h2>
<h2>View existing usernames <a href="/viewusers">here</a></h2>

</body>
</html>