<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Users</title>
</head>
<body>

<h1>Existing users:</h1>
{{range .}} 
{{range .}}
{{.}}<br>
{{end}}
{{end}}

<h2><a href="/">Back</a> to login screen</h2>

</body>
</html>