<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Submissions</title>
</head>
<body>

<h1>View Submissions</h1>

{{range $index, $submission := .}}
{{range $iindex, $line := $submission}} 
{{$line}} <br>
{{end}}
{{end}}

<a href="/">Main Menu</a> <br>

</body>
</html>